li {
	margin-bottom: 1ex;
}

@media screen {
	/* only on screen, i.e. do not alter print settings as this usually messes things up */
	body {
		font-size: 11pt;
		margin-top: 3em;
		margin-left: 2em;
		margin-right: 4em;
	}
}