li {
	margin-bottom: 1ex;
}

.code {
	margin-left: 3em;
	font-size: 80%;
	color: blue;
}

th {
	background: #cccccc;
	text-align: left;
	padding: 2px;
}

td {
	background: #f3f3f3;
	vertical-align: top;
	padding: 2px;
}

@media screen {
	/* only on screen, i.e. do not alter print settings as this usually messes things up */
	body {
		font-size: 11pt;
		margin-top: 3em;
		margin-left: 2em;
		margin-right: 4em;
	}
}